:host {
  display: grid;
  grid-template-columns: 20ch 1fr;
  grid-template-rows: 6rem 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    'header header'
    'nav router-outlet';
  height: 100%;

  div {
    outline: hsl(0deg 10% 60%);
  }

  .header {
    grid-area: header;
  }

  .nav {
    grid-area: nav;
  }

  .router-outlet {
    grid-area: router-outlet;
  }
}
